<div>
    <div>
        <h1>
            Top restaurants
        </h1>
    </div>
    <mat-card>
        <mat-card-content>
            <div class="row">
                <div class="col-3">
                    <mat-card class="example-card text-center">
                        <mat-card-header>
                        </mat-card-header>
                        <img class="w-50 mx-auto" mat-card-image src="assets/images/burger-1.jfif" alt="burger">
                        <mat-card-content>
                            <h2>McDonald's</h2>
                            <p>
                                4.1 mi | 51 minutes
                            </p>
                            <p>
                                Rating : <strong>4.7</strong>
                            </p>
                        </mat-card-content>
                        <mat-card-actions>

                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col-3">
                    <mat-card class="example-card text-center">
                        <mat-card-header>
                        </mat-card-header>
                        <img class="w-50 mx-auto" mat-card-image src="assets/images/biryani-1.jfif" alt="burger">
                        <mat-card-content>
                            <h2>Subway</h2>
                            <p>
                                4 mi | 20 minutes
                            </p>
                            <p>
                                Rating : <strong>4.7</strong>
                            </p>
                        </mat-card-content>
                        <mat-card-actions>

                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col-3">
                    <mat-card class="example-card text-center">
                        <mat-card-header>
                        </mat-card-header>
                        <img class="w-50 mx-auto" mat-card-image src="assets/images/ice-cream-1.jfif" alt="burger">
                        <mat-card-content>
                            <h2>Cream Stone
                                </h2>
                            <p>
                                4.5 mi | 45 minutes
                            </p>
                            <p>
                                Rating : <strong>4.9</strong>
                            </p>
                        </mat-card-content>
                        <mat-card-actions>

                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col-3">
                    <mat-card class="example-card text-center" >
                        <mat-card-header>
                        </mat-card-header>
                        <img class="w-50 mx-auto" mat-card-image src="assets/images/grill-1.jfif" alt="burger">
                        <mat-card-content>
                            <h2>Chili's Grill & Bar</h2>
                            <p>
                                1.1 mi | 10 minutes
                            </p>
                            <p>
                                Rating : <strong>4.7</strong>
                            </p>
                        </mat-card-content>
                        <mat-card-actions>

                        </mat-card-actions>
                    </mat-card>

                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>