<div class="row">
    <div class="col-5">
    </div>
  <div class="border p-3 w-auto">
      <img class="w-50" src="assets/images/logo-1.jfif" alt="food">
    <h1 class="text-centre">Login</h1>
        <form class="login-form">
        <div class="col-6">
            <mat-form-field class="example-full-width">
              <mat-label>User Name</mat-label>
              <input matInput placeholder="name" value="">
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="password" value="">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary" routerLink="/resturents">
              Continue
            </button>
        </div>
          </form>
</div>

</div>
